<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudstudio.matrix.matrixcommonweb.model.mapper.StatisticsMapper">
    <!--查询逻辑-->
    <select id="pushQuery" parameterType="java.util.Map" resultType="StatisticsBean">
        SELECT
            statistics_data_table.push_operator,
            statistics_data_table.num_key,
            statistics_data_table.num_value,
            statistics_data_table.num_count,
            statistics_data_table.push_time
        FROM
            statistics_data_table
        WHERE
            statistics_data_table.push_operator = #{operator}
          AND statistics_data_table.num_key = #{num_key}
          AND statistics_data_table.num_value = #{num_value}
          AND DATE(statistics_data_table.push_time)=DATE(#{push_time});
    </select>
    <!--统计结果查询-->
    <select id="queryStatisticsResult" resultType="StatisticsBean" parameterType="java.util.Map">
        SELECT
            statistics_data_table.num_value,
            SUM(statistics_data_table.num_key * statistics_data_table.num_count) AS statistics_result
        FROM
            statistics_data_table
        WHERE
            statistics_data_table.push_operator = #{operator}
          AND DATE(statistics_data_table.push_time) = DATE(#{push_time})
        GROUP BY
            statistics_data_table.num_value
        ORDER BY
            statistics_data_table.num_value ASC;
    </select>

    <!--插入逻辑-->
    <insert id="insertStatisticsData" parameterType="java.util.Map">
        INSERT INTO statistics_data_table
            (push_operator,num_key,num_value,num_count,push_time)
        VALUES
            (#{operator},#{num_key},#{num_value},#{num_count},#{push_time});
    </insert>

    <!--更新逻辑-->
    <update id="updateStatisticsData" parameterType="java.util.Map">
        UPDATE statistics_data_table
        SET statistics_data_table.num_count = #{num_count}
        WHERE
            statistics_data_table.push_operator = #{operator}
          AND statistics_data_table.num_key=#{num_key}
          AND statistics_data_table.num_value=#{num_value}
          AND DATE(statistics_data_table.push_time)=DATE(#{push_time});
    </update>
</mapper>