<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudstudio.matrix.matrixcommonweb.model.mapper.UserMapper">
    <!--查询逻辑-->
    <!--登录-->
    <select id="loginQuery" parameterType="java.util.Map" resultType="UserInfoBean">
        SELECT
            login_info_table.uAccount,
            login_info_table.uName,
            login_info_table.organization_name,
            login_info_table.departmentCode,
            department_table.departmentName,
            login_info_table.headerImageUrl,
            GROUP_CONCAT( authority_table.authority_key ORDER BY authority_table.authority_key SEPARATOR ',' ) AS authority_key
        FROM
            login_info_table
                INNER JOIN user_authority_table ON user_authority_table.uAccount = login_info_table.uAccount
                INNER JOIN authority_table ON authority_table.authority_code = user_authority_table.authority_code
                INNER JOIN department_table ON department_table.departmentCode=login_info_table.departmentCode
        WHERE
            login_info_table.uAccount = #{account} and login_info_table.uPasswordEncode=#{pass}
        GROUP BY
            login_info_table.uAccount,
            login_info_table.uName,
            login_info_table.departmentCode,
            department_table.departmentName,
            login_info_table.organization_name,
            login_info_table.headerImageUrl
    </select>

    <!--邮箱登录验证-->
    <select id="emailLogin" parameterType="java.util.Map" resultType="UserInfoBean">
        SELECT
            l.uAccount,
            l.uEmail,
            l.uName,
            l.uGender,
            l.organization_name,
            l.departmentCode,
            l.headerImageUrl,
            d.departmentName
        FROM
            login_info_table l
            INNER JOIN department_table d ON d.departmentCode = l.departmentCode
        WHERE
            l.uEmail = #{email}
        GROUP BY
            l.uAccount,
            l.uEmail,
            l.uName,
            l.uGender,
            l.departmentCode,
            d.departmentName,
            l.organization_name,
            l.headerImageUrl
    </select>


    <!--Insert逻辑-->
    <insert id="regisLoginInfo">
        insert into login_info_table (uAccount, uEmail) VALUES (#{email}, #{email})
    </insert>
</mapper>