<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudstudio.matrix.matrixcommonweb.model.mapper.UserMapper">
    <!--查询逻辑-->
    <!--登录-->
    <select id="loginQuery" parameterType="java.util.Map" resultType="UserInfoBean">
        SELECT
            login_info_table.uAccount,
            login_info_table.uName,
            login_info_table.organization_name,
            login_info_table.headerImageUrl,
            GROUP_CONCAT( authority_table.authority_key ORDER BY authority_table.authority_key SEPARATOR ',' ) AS authority_key
        FROM
            login_info_table
            INNER JOIN user_authority_table ON user_authority_table.uAccount = login_info_table.uAccount
            INNER JOIN authority_table ON authority_table.authority_code = user_authority_table.authority_code
        WHERE
            login_info_table.uAccount = #{account} and login_info_table.uPasswordEncode=#{pass}
        GROUP BY
            login_info_table.uAccount,
            login_info_table.uName,
            login_info_table.organization_name,
            login_info_table.headerImageUrl;
    </select>
</mapper>